# Practice Basic Python codes with FreeCodeCamp

In [1]:
print('Hello World!')

Hello World!

In [2]:
# Draw a triangle
print('   /|')
print('  / |')
print(' /  |')
print('/___|')

   /|
  / |
 /  |
/___|

In [3]:
# variables and data types
char_name = 'Jahid'
char_age = '25'

print('Hey how are you doing?')
print('Yeah, I am good, Jahid.')
print('How about you, Hasan')
print('Thanks, Jahid.')
print('I am 25, Jahid')
print('wow, you are just older than 2 years.')
print('I thought you are 22.')

Hey how are you doing?
Yeah, I am good, Jahid.
How about you, Hasan
Thanks, Jahid.
I am 25, Jahid
wow, you are just older than 2 years.
I thought you are 22.

In [4]:
# variables and data types
char_name = 'James Bond'
char_age = '15'

print('Hey how are you doing?')
print('Yeah, I am good,' + char_name +'.')
print('How about you, Hasan')
print('Thanks, ' + char_name +'.')

char_name ='Roman'

print('I am ' + char_age + ' years old. ' + char_name +'.')
print('wow, you are just older than 2 years.')
print('I thought you are 22.')

Hey how are you doing?
Yeah, I am good,James Bond.
How about you, Hasan
Thanks, James Bond.
I am 15 years old. Roman.
wow, you are just older than 2 years.
I thought you are 22.

In [5]:
#Strings
print('Hey, \nIts me Jahid.')
print("Jahid\"Hasan")
print("Jahid\Hasan")

phrase = "Jahid Hasan"
print(phrase)

phrase = "Jahid Hasan"
print(phrase+ ' is a student.')

phrase = "Jahid Hasan"
print(phrase.lower())

phrase = "Jahid Hasan"
print(phrase.upper())

phrase = "Jahid Hasan"
print(phrase.islower())

phrase = "Jahid Hasan"
print(phrase.isupper())

phrase = "Jahid Hasan"
print(phrase.lower().islower())

phrase = "Jahid Hasan"
print(len(phrase))

phrase = "Jahid Hasan"
print(type(phrase))

phrase = "Jahid Hasan"
print(phrase[0])

phrase = "Jahid Hasan"
print(phrase.index('H'))

phrase = "Jahid Hasan"
print(phrase.replace('Hasan','Superb.'))

Hey,
Its me Jahid.
Jahid"Hasan
Jahid\Hasan
Jahid Hasan
Jahid Hasan is a student.
jahid hasan
JAHID HASAN
False
False
True
11
<class 'str'>
J
6
Jahid Superb.

In [6]:
#Numbers
print(2*2)
print(5*(9+1))

print(100%4)
print(100%3)

num_1=10
print(num_1)
print(str(num_1) + " is a number.")

#absoulute value (abs)
num_2 = -3
print(abs(num_2))

#power
num_2 = -3
print(pow(5,6))

#Max/Min
num_2 = -3
print(max(7,4))

#Round fn
num_2 = -3
print(round(2.4))

4
50
0
1
10
10 is a number.
3
15625
7
2

In [7]:
# Import differant math functions
from math import *

num = 3
print(floor(1.9))

num = 3
print(ceil(1.8))

num = 3
print(sqrt(1.4))

1
2
1.1832159566199232

In [8]:
# Input from a user
input('Enter your name: ')

Enter your name: Jahid Hasan

'Jahid Hasan'

In [9]:
name = input('Enter your name: ')
age = input('Enter your age: ')
print('Hey! ' + name + '. I am ' +age+'.')

Enter your name: Jahid
Enter your age: 25
Hey! Jahid. I am 25.

In [10]:
# Basic Calculator
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = int(num1)+int(num2)

print(result)

Enter a number: 4
Enter another number: 5
9

In [11]:
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1)+float(num2)

print(result)

Enter a number: 5
Enter another number: 3
8.0

In [13]:
#Mad libs game
color = input('Enter a color: ')
plural_noun = input('Enter a Plural Noun: ')
celebrity = input('Enter a celebrity: ')

print('Roses are '+color)
print(plural_noun+ ' are blue')
print('I love ' +celebrity+'.')

Enter a color: Green
Enter a Plural Noun: Sky
Enter a celebrity: Tom
Roses are Green
Sky are blue
I love Tom.

In [14]:
#list
name = ['Jack', 'Roman', 'Seth','Rollins', 'HHH','RKO']
name[0] = 'AJ'

print(name)
print(name[0])
print(name[1:])
print(name[-2])
print(type(name))
print(len(name))

['AJ', 'Roman', 'Seth', 'Rollins', 'HHH', 'RKO']
AJ
['Roman', 'Seth', 'Rollins', 'HHH', 'RKO']
HHH
<class 'list'>
6

In [15]:
#List function
numbers = [1,3,5,6,8,34,21,67,45]
name = ['Jack', 'Roman','Roman', 'Seth','Rollins', 'HHH','RKO']
name.extend(numbers)
name.append('Bobby')
name.insert(1, 'Lana')
name.remove('Lana')
#name.clear()
#name.pop()
numbers.sort()
#numbers.reverse()

print(numbers)
print(name)
print(name.index('Roman'))
print(name.count('Roman'))

[1, 3, 5, 6, 8, 21, 34, 45, 67]
['Jack', 'Roman', 'Roman', 'Seth', 'Rollins', 'HHH', 'RKO', 1, 3, 5, 6, 8, 34, 21, 67, 45, 'Bobby']
1
2

In [16]:
#copy
numbers = [1,3,5,6,8,34,21,67,45]
name = ['Jack', 'Roman','Roman', 'Seth','Rollins', 'HHH','RKO']

name_2 = name.copy()

print(name_2)

['Jack', 'Roman', 'Roman', 'Seth', 'Rollins', 'HHH', 'RKO']

In [17]:
#tubles- store different value, similar to list, store multiple info
# immutable

coordinates = (4,5)
#coordinates[1] =10 # this gives err as its immutable

print(coordinates[0])
print(coordinates[1])

4
5

In [18]:
# Function-collection of code-perform specific task
def greet():
    print('Hey there.')

#print('Top')
greet()
#print('Bottom')

Hey there.

In [19]:
def greet(name):
    print('Hey, '+name)

greet('Jahid')
greet('Hasan')

Hey, Jahid
Hey, Hasan

In [20]:
def greet(name, age):
    print('Hey, '+name+', Your age is '+str(age)+', right.')

greet('Jahid', '25')
greet('Hasan', '24')

Hey, Jahid, Your age is 25, right.
Hey, Hasan, Your age is 24, right.

In [21]:
#Return statement
def cube(num):
    return num*num*num

result = cube(4)
print(result)
#cube(4)    
#cube(3) -give nothing
#print(cube(3))

64

In [22]:
#If statement
is_male = False

if is_male:
    print("You are a male.")
    
else:
    print("You are not a male.")

You are not a male.

In [23]:
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both.")
    
else:
    print("You are neither male or tall.")

You are a male or tall or both.

In [24]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male.")
    
else:
    print("You are either not male or tall or both.")

You are a tall male.

In [25]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male.")
    
elif is_male and not(is_tall):
    print('You are a short male')
    
elif not(is_male) and is_tall:
    print('You are not a male but tall.')
    
else:
    print("You are either not male or tall or both.")

You are a short male

In [26]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
    
print(max_num(13,91,98))

98

In [28]:
#Calculator using arithmatic op
num1 = float(input('Enter first number: '))
op = input('Enter operator: ')
num2 = float(input('Enter second number: '))

if op == '+':
    print(num1 + num2)
elif op == '-':
    print(num1 - num2)
elif op == '/':
    print(num1 / num2)
elif op == '*':
    print(num1 * num2)
elif op == '%':
    print(num1 % num2)
else:
    print('Invalid!')

Enter first number: 5
Enter operator: -
Enter second number: 9
-4.0

In [29]:
#Dictionaries
month_conversion ={
    'Jan': 'January',
    'Feb': 'February',
    'Mar': 'March',
    'Apr': 'April',
    'May': 'May',
    'Jun': 'June',
    'Jul': 'July',
    'Aug': 'August',
    'Sep': 'September',
    'Oct': 'October',
    'Nov': 'November',
    'Dec': 'December',
        
}

print(month_conversion)
print(month_conversion['Jun'])
print(month_conversion.get('Mar'))
print(month_conversion.get('Mr', 'Not a valid key!'))

{'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}
June
March
Not a valid key!

In [30]:
#while loops
i =1
while i <=6:
    print(i)
    i +=1
    
print('Finished.')

1
2
3
4
5
6
Finished.

In [31]:
i =2
while i <=5:
    print(i)
    i +=1
    
print('Finished.')

2
3
4
5
Finished.

In [32]:
#Guess game
secret_key = 'Messi'
guess = ''
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_key and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input('Enter your guess: ')
        guess_count += 1
    else:
        out_of_guesses = True
        
if out_of_guesses:
    print('Oops! You are out of guesses.')
else:
    print('Successful!')
#print('Successful.')

Enter your guess: messi
Enter your guess: messi
Enter your guess: messi
Oops! You are out of guesses.

In [34]:
#For loops
for char in 'Jahid Hasan':
    print(char)

J
a
h
i
d

H
a
s
a
n

In [41]:
chars = ['Jahid', 'Jack','Seth']

for char in chars:
    print(char)

Jahid
Jack
Seth

In [42]:
chars = ['Jahid', 'Jack','Seth']

for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [43]:
for index in range(3, 10):
    print(index)

3
4
5
6
7
8
9

In [49]:
chars = ['Jahid', 'Jack','Seth']
len(chars)
for index in range(len(chars)):
    print(chars[index])
    #print(chars)

Jahid
Jack
Seth

In [54]:
chars = ['Jahid', 'Jack','Seth']

for index in range(5):
    if index == 0:
        print('First shot.')
    else:
        print('Last shot.')

First shot.
Last shot.
Last shot.
Last shot.
Last shot.

In [55]:
#Exponent
print(2**3)

8

In [56]:
def exp_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result

print(exp_power(2,8))

256

In [59]:
#2D lists and nested loops
numbers = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [0]
]

print(numbers)
print(numbers[0][0])
print(numbers[2][3])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [0]]
1
12

In [60]:
numbers = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [0]
]

for row in numbers:
    print(row)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[0]

In [61]:
numbers = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [0]
]

for row in numbers:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
10
11
12
0

In [64]:
# Basic translator
def translator(phrase):
    translation = ''
    for letter in phrase:
        if letter in 'AEIOUaeiou':
            translation = translation + 'j'
        else:
            translation = translation + letter
    return translation

print(translator(input('Enter a phrase: ')))

Enter a phrase: smackdown
smjckdjwn

In [ ]:
def translator(phrase):
    translation = ''
    for letter in phrase:
        if letter.lower() in 'aeiou':
            if letter.isupper():
                translation = translation + 'J'
            else:
                translation = translation + 'j'
        else:
            translation = translation + letter
    return translation

print(translator(input('Enter a phrase: ')))

In [1]:
number =int(input('Enter a number: '))
print(number)

Enter a number: 5
5

In [3]:
try:
    number =int(input('Enter a number: '))
    print(number)
except:
    print('Invalid!')

Enter a number: 5
5

In [4]:
try:
    var = 10/0  #err, division err
    number =int(input('Enter a number: '))
    print(number)
except:
    print('Invalid!')

Invalid!

In [8]:
try:
    #var = 10/0
    number =int(input('Enter a number: '))
    print(number)
except ZeroDivisionError:
    print('Divided by zero!')
except ValueError:
    print('Invalid!')

Enter a number: hd
Invalid!

In [10]:
try:
    var = 10/0
    number =int(input('Enter a number: '))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print('Invalid!')

division by zero

In [20]:
#Reading files, r+ mean read and write
data = open('test.txt', 'r')

#get info from file
#print(data.readable())

#print(data.read())

#print(data.readline())

#print(data.readlines())  # array 

print(data.readlines()[1]) 

data.close()

Hasan - Manager

In [23]:
data = open('test.txt', 'r')

for a in data.readlines():
    print(a)
data.close()

Jahid - CEO

Hasan - Manager

Tom - Actor

Michael - Singer

Adele - Female singer

Bob - Producer

Arnold - Director

In [24]:
#writing files and appending
data = open('test.txt', 'r')

print(data.read())

data.close()

Jahid - CEO
Hasan - Manager
Tom - Actor
Michael - Singer
Adele - Female singer
Bob - Producer
Arnold - Director

In [27]:
data = open('test.txt', 'a')

data.write('\nJim - Comedian')

data.close()

In [28]:
#overright file
data = open('test.txt', 'w')

data.write('\nJim - Comedian')

data.close()

In [29]:
#create new file
data = open('test1.txt', 'a')

data.write('\nJim - Comedian')

data.close()

In [30]:
data = open('index.html', 'a')

data.write('<p> This is a HTML file. </p>')

data.close()